div {
	border: 1px black solid;
	height: 100px;
	background-image:;
}
.div1 {
	width: 100px;
	margin-left: 655px;
	margin-top: 255px;
}
.div2 {
	width: 100px;
	margin-top: -102px;
	margin-left: 755px;
}
.div3 {
	width: 100px;
	margin-top: -102px;
	margin-left: 855px;
}
.s1 img{
	width: 50px;	
	height: 75px;	
}
.img {
	border: 0px black solid;
	height: 0px;
}
.s2 img {
	width: 75px;	
	height: 75px;	
}
.img1 {
	border: 0px black solid;
	height: 0px;
}
.a1 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.a2 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.a3 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.a4 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.a5 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.a6 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.a7 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.a8 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.a9 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}